PORT=3001
MONGODB_URI=mongodb+srv://sarvarxon:mC6ujJS5WXkB3HxX@cluster0.cztsjrn.mongodb.net/durak?appName=Cluster0
BOT_TOKEN=8648833715:AAHhBi0SOtxEPaBBrNmO6LJNh4TwVTwsLuc
CLIENT_URL=https://durak-game.vercel.app
SERVER_URL=https://durak-server.onrender.com
ADMIN_PASSWORD=admin123
JWT_SECRET=supersecret_durak_jwt_2024
